/* PC */
/* @media (min-width : 1024px) */
@media (min-width : 64px)
{

}
/* Tablet & mobile */
/* @media (max-width : 1023px) */
@media (max-width : 63.9375em)
{
    .btn {
        padding: 15px 16px;
    }
    #content .contact-input {
        padding: 15px;
        font-size: 17px;
    }

    #content .contact-info {
      
        line-height: 2;
    }
    #content .form-submit-btn {
        font-size: 16px;
    }

   
    #footer .socials-list {
        font-size: 30px;
    }


    #footer .socials-list a{
    
        margin: 0 8px;
    }
    #footer .copy-right a{
       
       padding: 12px 0px;
       display: inline-block;
    }
}
/* Tablet */
/* @media (min-width: 740px) and (max-width : 1023px) */
@media (min-width: 46.25em) and (max-width : 63.9375em)
{
    #footer .socials-list {
        font-size: 48px;
        
    }
}

/* Mobile */
/* @media (max-width : 739px) */
@media (max-width : 46.1875em)
{
    .s-width-full,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav>li {
        display: block;
    }

    #nav .subnav {
        /* initial: giá trị mặc định, bỏ đi absolute đã cài bên PC => để hiện các subnav*/
        position: initial; 
        background-color: #333;

    }
    #nav .subnav a {
       
        color: #fff;
        padding: 5 41px;
        line-height: 38px;

    }
    #nav>li:first-child {
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

 
    /* Để hình member đẩy xuống dưới */
    #content   .mobile-member-item {
        margin-top: 30px;
        width: 100%;
    }
    
    #content .member-img {
        width: 60%
       
    }

    #content .contact-form {
        margin-top: 32px;
    }
}