/*Reset CSS*/
* {
    padding: 0 ;   /*Gõ nhanh bằng cách p: enter (hoặc p tab (có thể không work))*/
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/
/*
1. Vị trí
2. Kích thước (Width, height)
3. Màu sắc
4. Hình dáng (Kiểu chữ, 
*/

/* Common */

html {
   
    scroll-behavior: smooth;   /* hành động cuộn lướt trang */
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
/* margin-top = 8px */
.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.text_center {
    text-align: center !important
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
/* De khong can su dung class clear nua => them 1 element gia */
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left; /*để 3 member-item nằm chung 1 hàng*/ 
    padding-left: 8px;
    padding-right: 8px;
}
.col_full {
    width: 100%;
}
/*  giao diện 2 cột */
.col_half {
    width: 50%;
}
/*  giao diện 3 cột */
.col_3 {
    width: calc(100%/3); /*để kéo ra cho ngang bằng chữ*/
}

.btn{
    margin-top: 15px;
    padding: 15px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    text-decoration: none;
    display: inline-block;
}
.pull-right {
    float: right;
}
/* Main */
#main {

}



#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1; 
    overflow: hidden;
    /* Do thêm position: fixed nên header nó tách rời lớp bình thường (có thể nổi lên hoặc chìm xuống)
    Trong trường hợp nó bị chìm xuống, ta thêm z-index = 1 giá trị nào đó (tùy theo bài) để nó nổi lên */
    
}
/* Begin: Navbar */
#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none; /*Bỏ dấu chấm hiển thị trước thẻ li*/
}
/* Chỉ cho li cấp 1 có thuộc tính inline-block thôi */
#nav > li {
    display: inline-block; /*inline: hiển thị 1 hàng, block: tính chất khối */
} 
#nav li {
    position: relative;
}
/* Tác động trực tiếp lên thẻ a là con của li và li là con của nav (thẻ subnav không bị tác động) */
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none; /*Bỏ gạch chân thẻ a */
    line-height: 46px; /*Cao bằng chiều cao của header*/
    padding: 0 24px;
    display: block;
}


/* Ở đây, nếu như ta hover ở thẻ a (#nav li a:hover)
thì vẫn có thể làm được. Tuy nhiên, nếu ta click vào thẻ More rồi bấm chọn các thuộc tính bên dưới
thì thẻ a (More) sẽ mất active (hiện nền hover) mà chỉ active các thẻ con
*/
#nav > li:hover > a ,
#nav .subnav li:hover a
{
    color: #000;
    background-color: #ccc;
}
/* #nav .subnav li:hover a {
     color: #000;
    background-color: #ccc;
} 
 Vì cả 2 sẽ cùng thuộc tính nên thay vì lặp lại, ta sẽ viết cách nhau dấu phẩy
*/

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;  /*Phải có câu này, nếu không nav sẽ mất*/
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 36px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}
/* End: Navbar */

/* Begin: Search button */
#header .mobile-menu-btn,
#header .search-btn {
   
    
    padding: 0 21px;
    display: block;
}

#header .mobile-menu-btn {
    display: none;
}
#header .mobile-menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;

}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
    cursor: pointer;
}

#header .mobile-menu-btn:hover .mobile-menu-icon{
   color: #000;
    cursor: pointer;
}
/* Begin :Slider */

#slider {
        /* Do header sử dụng postion: fixed 
    nên nó nổi nằm chồng lên trên và nhường vị trí lại cho slider 
    => một phần slider bị che khuất bởi header
    => lùi margin (khoảng cách lề) của slider xuống 46px (chiều cao của header) */
    margin-top: 46px;
    padding-top: 50%;     /* Để kích thước slider luôn có chiều cao = 1/2 chiều ngang*/
    /* Lý do là khi để 50% ở padding-top thì có nghĩa là bằng 50% chiều ngang của chính nó */
    background: url('/assets/img/slider/slider1.jpg') top center /cover no-repeat;
    /* /cover (thể hiện background size) */
    position: relative;

}
 
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* Cách 1: left: 50%; 
    transform: translateX(-50%);  */ 
    /* Vì thêm left nó sẽ căn trái mọi thứ 50%  
    => Ta cần nội dung căn giữa theo dòng text ở dưới
    => Lùi về bên trái 50% (đối với dòng chữ dài)*/ 
    width: 100%;
    /* Cách 3:
    right:  0;
    left: 0;*/
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}
/*End :Slider */


/* Begin: Content*/
#content {
}

/* Begin :Content - About Section */
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 64px;
    padding-bottom: 132px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading,
#content .section-sub-heading  {
    text-align: center;
}
#content .members-list {
    margin-top: 48px;
}
#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
#content .member-name {
    font-size: 15px;
   
}
/* End :Content - About Section */

/*Begin:Content - Tour section */

#content .tour-section{
    background-color: #000;
}
#content .tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;

}
#content .tickets-list li{
    color:  #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
#content .tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 8px;
}
#content .tickets-list .quantity{
  
    width: 24px;
    height: 24px;
    margin-top: -3px;
    line-height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}
#content .places-list{

    margin-top: 32px;
    margin-bottom: 48px;
}
#content .place-item{
}
#content .place-content{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
#content .place-img{
    width: 100%;
    display: block;
    
}
#content .place-img:hover{
    opacity: 0.6;
}
#content .place-heading{
    font-size: 15px;
}
#content .place-time{
    color: #757575;
    margin: 15px 0px 15px 0px;
}
#content .place-time{
    margin-top: 15px;
    line-height: 1.4;
}
#content .form-submit-btn {
    
  
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
}
#content .btn:hover{
    background-color: #ccc;
    color: #000;
    border: none;
}
/*End :Content - Tour section */

/* Begin: Content - Contact Section */

#content .contact-content {
    margin-top: 48px;
    font-size: 16px;
    
}
#content .contact-form {
    font-size: 15px;
}
#content .contact-info {
    font-size: 18px;
    line-height: 1.4;
}
#content .contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
#content .contact-input {
    padding: 15px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
   
}
/* End: Content - Contact Section */

/* Begin: Content - Map Section */
.map-section img {
    width: 100%;
}
/* End: Content - Map Section */
/* End :Content*/

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list {
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

#footer .socials-list a{
    
    text-decoration: none; 
    margin: 0 8px;
    color: rgba(0,0,0,0.6);
}
#footer .copy-right{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copy-right a:hover,
#footer .socials-list a:hover{
    color: rgba(0,0,0,0.4);
    cursor: pointer;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}

/* Modal header */
header.modal-header{
    line-height: 130px;
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.modal-header-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
   
    font-size: 18px;
}
.modal-close:hover{

    color: #000;
    background-color: #ccc;
}

/* Modal body */

.modal-body{
    padding: 16px;
    font-size: 16px;
}
label.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    padding: 8px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}

button#modal-buy-ticket{
    background-color: #009688;
    color: #fff;
    width: 100%;
    font-size: 15px;
    margin:  10px 0px;
    padding: 16px;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

button#modal-buy-ticket:hover{
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
    font-size: 16px;
}
.modal-help a{
    color: #2196f3;   
}


@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

