/*Reset CSS*/
* {
    padding: 0 ;   /*Gõ nhanh bằng cách p: enter (hoặc p tab (có thể không work))*/
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/
/*
1. Vị trí
2. Kích thước (Width, height)
3. Màu sắc
4. Hình dáng (Kiểu chữ, 
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav, .subnav {
    list-style-type: none; /*Bỏ dấu chấm hiển thị trước thẻ li*/
}
/* Chỉ cho li cấp 1 có thuộc tính inline-block thôi */
#nav > li {
    display: inline-block; /*inline: hiển thị 1 hàng, block: tính chất khối */
} 
#nav li {

    position: relative;
}
/* Tác động trực tiếp lên thẻ a là con của li và li là con của nav (thẻ subnav không bị tác động) */
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none; /*Bỏ gạch chân thẻ a */
    line-height: 46px; /*Cao bằng chiều cao của header*/
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}
/* Ở đây, nếu như ta hover ở thẻ a (#nav li a:hover)
thì vẫn có thể làm được. Tuy nhiên, nếu ta click vào thẻ More rồi bấm chọn các thuộc tính bên dưới
thì thẻ a (More) sẽ mất active (hiện nền hover) mà chỉ active các thẻ con
*/
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
/* #nav .subnav li:hover a {
     color: #000;
    background-color: #ccc;
} 
 Vì cả 2 sẽ cùng thuộc tính nên thay vì lặp lại, ta sẽ viết cách nhau dấu phẩy
*/

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 36px;
}


#slider {

}

#content {

}

#footer {

}
